page-games {
    .fixed-content{
        height:$control-height;
        background: darken(color($colors,color1),5%);
    }
    .matchItem{
        background:color($colors,light);
    }
    .gamelist{
        margin-top: 3em !important;
    }
    .list{
        display:block;
        width:calc(100% - #{$content-padding}*2);
        margin:$content-padding;
        border-radius:$control-radius;
        @extend %outerShadow;
        overflow:hidden;
        .list-header{
            background-color:color($colors,color5);
            margin-top:0px!important;
            height:$control-height;
            padding:0px $content-padding;
            .item-inner{
                margin:0px;
            }
            .label{
                color:color($colors,dark);
                font-size:$mainFont;
                font-weight:bold;
                @include whiteNoWrap(20px);
            }
            .icon{
                font-size:2rem;
                width: 22px;
                text-align: center;
                min-height:0px;
            }
            img{
                height:20px;
                object-fit: contain;
            }
        }
    }
}
