<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon class="goal-menu"></ion-icon>
    </button>
    <ion-title>Games</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPush="GameNewPage">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="calendarToolbar">
    <ion-grid class="calendar">
      <ion-row>
        <ion-col col-auto>
          <ion-icon name="ios-arrow-back" color="light" (click)="change_month('decrease')"></ion-icon>
        </ion-col>
        <ion-col col>
          <p>
            <span>{{month_name}}</span>,
            <span>{{year}}</span>
          </p>
        </ion-col>
        <ion-col col-auto>
          <ion-icon name="ios-arrow-forward" color="light" (click)="change_month('increase')"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="daysScroll">
      <ion-scroll scrollX="true" scrollY="false">
        <div class="day" *ngFor="let day of days ; let i=index" (click)="toggleGroup(i)"
          [ngClass]="{'active': isGroupShown(i)}">
          <p>{{day.name}}</p>
          <button ion-button clear (click)="onClick(day)">{{day.day_num}} </button>
        </div>
      </ion-scroll>
    </div>

    <p ion-text text-center no-margin color="light"><b>{{currentDate |  date:'mediumDate'}}</b></p>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- matches list  Sure3Odds.com  -->
  <div class="gamelist">
    <ion-list class="" *ngFor="let game of gamelist">
      <ion-list-header>
        <ion-row>
          <ion-col col-4>
            <ion-icon name="football" color="color1" item-left></ion-icon>
            <span ion-text padding-bottom>{{game.title}}</span>
          </ion-col>
          <ion-col col-4 text-center>
            <p ion-text padding-top color="color2">sure3odds.com</p>
          </ion-col>
          <ion-col col-4 text-right>
            <span ion-text color="color1">Total odds : {{game.odds ? game.odds : '0.0'}}</span>
          </ion-col>
        </ion-row>
      </ion-list-header>
      <!-- match item  -->
      <div class="" *ngIf="game.items">
        <ion-item class="matchItem" *ngFor="let match of game.items">
          <ion-grid>
            <ion-row (click)="onGameOption(match)">
              <ion-col col>
                <ion-item>
                  <img src="{{match.hometeam.imageurl}}" item-right *ngIf="match.hometeam.imageurl" />
                  <img src="assets/imgs/appicon.png" item-right *ngIf="!match.hometeam.imageurl" />
                  <p text-right>{{match.hometeam.name}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-auto>
                <span ion-text color="color1">{{match.matchtime}}</span>
                <p ion-text color="color2"><b>{{match.odds}}</b></p>
                <p ion-text color="color2"><b>{{match.selections.name}}</b></p>
              </ion-col>
              <ion-col col>
                <ion-item>
                  <img src="{{match.awayteam.imageurl}}" item-left *ngIf="match.awayteam.imageurl" />
                  <img src="assets/imgs/appicon.png" item-left *ngIf="!match.awayteam.imageurl" />
                  <p text-left>{{match.awayteam.name}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
      <div class="" *ngIf="game.msg">
        <p ion-text text-center color="color2">{{game.msg}}</p>
      </div>

    </ion-list>
  </div>

</ion-content>