<ion-header>
  <ion-navbar>
  <button ion-button menuToggle icon-only>
    <ion-icon class="goal-menu"></ion-icon>
  </button>
  <ion-title>Manage Leagues</ion-title>
  <ion-buttons end>
    <button ion-button icon-only navPush="NotificationPage">
      <ion-icon name="md-notifications"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" (ionCancel)="onCancel($event)" [showCancelButton]="true"
    (ionClear)="onClear($event)" (ionInput)="onSearch()">
  </ion-searchbar>
  <div class="leagueStats" *ngIf="error === 'full'">
    <ion-list *ngFor="let league of leagues">
      <ion-item class="thumbnailItem">
        <ion-thumbnail item-left>
 
          <img src="{{league.imageurl}}" *ngIf="league.imageurl" />
          <img src="assets/imgs/appicon.png" *ngIf="!league.imageurl" />
        </ion-thumbnail>
        <!-- team Name -->
        <h5 ion-text padding-left margin-left color="dark">{{league.name}}</h5>
        <!-- note -->
        <!-- <p ion-text color="dark">{{item.note}}</p> -->
        <!-- goals or rating Number -->
        <span ion-text color="color1" class="" item-right>{{league.country.name}}</span>
      </ion-item>
    </ion-list>
  </div>

  <div class="" *ngIf="error === 'empty'">
    <p ion-text text-center color="color2">No result found!</p> 
   </div>
</ion-content>
