page-setting-teams {
    .header{
        .toolbar{
            &.matchResultBar{
                padding:$content-padding*2 $content-padding/2;
                .toolbar-background{
                    background: darken(color($colors,color1),5%);
                }
            }
        }
   
    }
    .otherForm {
        @extend .signForm;
        margin-top: 0.5em;
        border-radius: $control-radius;
        // @extend %outerShadow;
        width: calc(100% - #{$content-padding}* 2) !important;
        padding: 9px !important;
        .item {
          transition: height 1s;
          .text-input {
            color: color($colors, dark);
            opacity: 0.8;
            font-weight: 500;
          }
          .label {
            color: color($colors, dark);
            font-weight: bold;
          }
    
          &.show {
            height: 0px !important;
            transition: height 1s;
            margin-bottom: 0px !important;
          }
          &.item-input-disabled {
            border-bottom: none !important;
          }
        }
        .button {
          margin-top: $content-padding * 2 !important;
        }
      }
    .photoItem{
        border-radius:$control-radius;
        @extend %outerShadow;
        margin-bottom:$content-padding;
    }
    .teamMatchs{
        .item{
            &.thumbnailItem{
                padding:$content-padding*2 $content-padding;
                margin:$content-padding;
                @extend %outerShadow;
                &:last-of-type{
                    margin-bottom:$content-padding!important;
                }
                ion-thumbnail{
                    img{
                        width:30px;
                        height:30px;
                    }
                }
                .col{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:last-of-type{
                        text-align: center;
                        p{
                            @include whiteNormal(32px,2);
                        }
                    }
                }
                
                .matchTime,.matchResult{
                    text-align: center;
                    width:60px; 
                    span{
                        font-size:1.6rem;
                        font-weight:500;
                        @include whiteNormal(20px,1);
                    }
                    p{
                        font-size:.8rem!important;
                        @include whiteNormal(15px,1);
                        margin:0px;
                    }
                }
            }
        }
    }
}
