<ion-content padding>
  <div class="otherForm">
    <ion-list padding>
      <ion-item>
        <ion-label>
          Select Month
        </ion-label>
        <ion-datetime displayFormat="MMMM YYYY" placeholder="Select a month" max="2050-12-31" name="reportdate"
          (ionChange)="GetReportByDate($event)">
        </ion-datetime>
      </ion-item>

      <ion-list-header>
        <h2 ion-text text-center color="color2">Membership Details</h2>
      </ion-list-header>
      <ion-item style="margin-top: 1em;">
        <ion-label stacked><b>Total Members</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalusers ? report?.totalusers : 0}}"></ion-input>
      </ion-item>
      <ion-item class="halfItem" float-left style="margin-top: 1.5em;">
        <ion-label stacked><b>Total VVIP Members</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalvvipusers ? report?.totalvvipusers : 0}}"></ion-input>
     </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>Total VIP Members</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalvipusers ? report?.totalvipusers : 0}}"></ion-input>
    </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>Total Active Members</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalactiveusers ? report?.totalactiveusers : 0}}"></ion-input>
    </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>Total InActive Members</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalinactiveusers ? report?.totalinactiveusers : 0}}"></ion-input>
    </ion-item>
    </ion-list>

    <ion-list padding>
      <ion-list-header>
        <h2 ion-text text-center color="color2">Subscription Details</h2>
      </ion-list-header>
      <ion-item>
        <ion-label stacked><b>Total Revenue</b></ion-label>
        <ion-input disabled type="text" *ngIf="!report?.totalincome" value="{{totalincome | currency: 'NGN': '1.2-2'}}"></ion-input>
        <ion-input disabled type="text"  *ngIf="report?.totalincome" value="{{report?.totalincome | currency: 'NGN': '1.2-2'}}"></ion-input>
     </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>VVIP Revenue</b></ion-label>
        <ion-input disabled type="text" *ngIf="!report?.totalvvipincome" value="{{totalvvipincome | currency: 'NGN': '1.2-2'}}"></ion-input>
        <ion-input disabled type="text"  *ngIf="report?.totalvvipincome" value="{{report?.totalvvipincome | currency: 'NGN': '1.2-2'}}"></ion-input>
     </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>VIP Revenue</b></ion-label>
        <ion-input disabled type="text" *ngIf="!report?.totalvipincome" value="{{totalvipincome | currency: 'NGN': '1.2-2'}}"></ion-input>
        <ion-input disabled type="text"  *ngIf="report?.totalvipincome" value="{{report?.totalvipincome | currency: 'NGN': '1.2-2'}}"></ion-input>
    </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>VVIP Payments</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalvvippay ? report?.totalvvippay : 0}}"></ion-input>
      </ion-item>
      <ion-item class="halfItem" float-left style="margin-top:  1.5em;">
        <ion-label stacked><b>VIP Payments</b></ion-label>
        <ion-input disabled type="text" value="{{report?.totalvippay ? report?.totalvippay : 0}}"></ion-input>
     </ion-item>
    </ion-list>
  </div>
</ion-content>
