<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon class="goal-menu" ></ion-icon>
    </button>
    <ion-title>Match Details</ion-title>
   
  </ion-navbar>
  <ion-toolbar class="matchResultBar">
    <!-- match item  -->
    <ion-item class="matchResult">
      <ion-grid>
        <ion-row>
          <!-- first team -->
          <ion-col col>
            <ion-item>
              <img src="{{match.hometeam.imageurl}}" style="border-radius: 50px;" *ngIf="match.hometeam.imageurl" />
              <img src="assets/imgs/appicon.png" style="border-radius: 50px;" *ngIf="!match.hometeam.imageurl" />
              <p>{{match.hometeam.name}}</p>
            </ion-item>
          </ion-col>
          <!-- match time -->
          <ion-col col-auto>
            <div class="result">
              <span ion-text color="color1">{{match?.hometeamscore}}</span>
              <span ion-text style="padding: 0.3em;" color="color1">-</span>
              <span ion-text color="color1">{{match?.awayteamscore}}</span>
            </div>
            <p ion-text color="light" text-center>{{match?.status.name}}</p>
          </ion-col>
          <!-- second team -->
          <ion-col col>
            <ion-item>
              <img src="{{match.awayteam.imageurl}}" style="border-radius: 50px;" *ngIf="match.awayteam.imageurl" />
              <img src="assets/imgs/appicon.png" style="border-radius: 50px;" *ngIf="!match.awayteam.imageurl" />
              <p>{{match.awayteam.name}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-center>
            <p ion-text color="secondary" style="text-align: center;">{{match.country.name}} - {{match.league.name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="timeLine_list">
    <ion-item [ngClass]="{'team2':comment.user.id == jti}" *ngFor="let comment of comments"   #chatList>
      <ion-grid>
        <ion-row>
          <ion-col col-auto>
            <p ion-text color="color1">{{comment.time}}' <b>{{comment.user.uniqueid}}</b></p>
          </ion-col>
          <ion-col col-auto>
            <img src="assets/imgs/appicon.png" />
          </ion-col>
          <ion-col col>
            <p ion-text color="dark">{{comment.comments}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <div color="color2" text-center *ngIf="error === 'none'">
    What do you think about <br /> <br /> <strong>{{match.hometeam.name}}</strong> Vs  <strong>{{match.awayteam.name}}</strong>?
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="white bordertop lightborder">
      <ion-row wrap>
        <ion-col col-10 class="center">
          <ion-input type="text" class="" [(ngModel)]="comment.comments" placeholder="Type a message"></ion-input>
        </ion-col>
        <ion-col col-2 class="center ">
          <button ion-button icon-left round class="round paddingleft half-paddingright" color="primary" (click)="onCreateComment(comment, match)">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>