page-setting-country {
    .header{
        .toolbar{
            &.matchResultBar{
                padding:$content-padding*2 $content-padding/2;
                .toolbar-background{
                    background: darken(color($colors,color1),5%);
                }
            }
        }
       
    }
    .photoItem{
        border-radius:$control-radius;
        @extend %outerShadow;
        margin-bottom:$content-padding;
    }
    .teamMatchs{
        .item{
            &.thumbnailItem{
                padding:$content-padding*2 $content-padding;
                margin:$content-padding;
                @extend %outerShadow;
                &:last-of-type{
                    margin-bottom:$content-padding!important;
                }
                ion-thumbnail{
                    img{
                        width:30px;
                        height:30px;
                    }
                }
                .col{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:last-of-type{
                        text-align: center;
                        p{
                            @include whiteNormal(32px,2);
                        }
                    }
                }
                
                .matchTime,.matchResult{
                    text-align: center;
                    width:60px; 
                    span{
                        font-size:1.6rem;
                        font-weight:500;
                        @include whiteNormal(20px,1);
                    }
                    p{
                        font-size:.8rem!important;
                        @include whiteNormal(15px,1);
                        margin:0px;
                    }
                }
            }
        }
    }

}
