<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon class="goal-menu"></ion-icon>
    </button>
    <ion-title>Countries</ion-title>
    <ion-buttons end>
      <button ion-button icon-only navPush="SettingCountryManagePage">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" (ionCancel)="onCancel($event)" [showCancelButton]="true"
    (ionClear)="onClear($event)" (ionInput)="onSearch()">
  </ion-searchbar>
  <div class="leagueStats">
    <ion-list *ngFor="let country of countries">
      <ion-item class="thumbnailItem" navPush="SettingCountryManagePage" [navParams]="country">
        <ion-thumbnail item-left>
          <img src="{{country.imageurl}}" *ngIf="country.imageurl" />
          <img src="assets/imgs/appicon.png" *ngIf="!country.imageurl" />
        </ion-thumbnail>
        <h5 ion-text padding-left margin-left color="dark">{{country.name}}</h5>
      </ion-item>
    </ion-list>

  </div>

  <div class="" *ngIf="error">
    <p ion-text text-center color="color2">No result found!</p>
  </div>
  <div text-center margin-top margin-bottonm  *ngIf="nocountries === 'none'" (click)="onGotoTop()">
    <button ion-button  small color="color2">Back to Top</button>
  </div>
  <ion-infinite-scroll (ionInfinite)="scrollInfinite($event)" *ngIf="currentPage < totalPage">
    <ion-infinite-scroll-content  loadingSpinner="bubbles"
    loadingText="Loading page {{currentPage}} of {{totalPage}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>