<ion-menu id="loggedInMemberPages" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/appicon.png">
        </ion-avatar>
        <h5 ion-text color="light">{{Userfullname}}</h5>
        <p ion-text color="light">{{usertype}}</p>
        <p ion-text color="light" style="margin-top: 1em;">{{version}}</p>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- admin list -->
    <ion-list class="mainMenuList">
      <ion-item menuClose *ngFor="let p of loggedInMemberPages" (click)="openPage(p.component)">
        <ion-icon color="light" name="{{p.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{p.title}} </ion-label>
      </ion-item>
    </ion-list>
    <!-- leagues list -->
    <ion-list class="leagueList">
      <ion-item menuClose *ngFor="let item of otherPages" (click)="openPage(item.component)">
        <ion-icon color="{{item.color}}" name="{{item.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{item.title}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu id="loggedInAdviserMenu" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/appicon.png">
        </ion-avatar>
        <h5 ion-text color="light">{{Userfullname}}</h5>
        <p ion-text color="light">{{usertype}}</p>
        <p ion-text color="light" style="margin-top: 1em;">{{version}}</p>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- admin list -->
    <ion-list class="mainMenuList">
      <ion-item menuClose *ngFor="let p of loggedInAdviserPages" (click)="openPage(p.component)">
        <ion-icon color="{{p.color}}" name="{{p.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{p.title}} </ion-label>
      </ion-item>
    </ion-list>

    <!-- leagues list -->
    <ion-list class="leagueList">
      <ion-item menuClose *ngFor="let item of otherPages" (click)="openPage(item.component)">
        <ion-icon color="{{item.color}}" name="{{item.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{item.title}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu id="loggedInAdminMenu" [content]="content" swipeEnabled="false">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/appicon.png">
        </ion-avatar>
        <h5 ion-text color="light">{{Userfullname}}</h5>
        <p ion-text color="light">{{usertype}}</p>
        <p ion-text color="light" style="margin-top: 1em;">{{version}}</p>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- admin list -->
    <ion-list class="mainMenuList">
      <ion-item menuClose *ngFor="let p of loggedInAdminPages" (click)="openPage(p.component)">
        <ion-icon color="{{p.color}}" name="{{p.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{p.title}} </ion-label>
      </ion-item>
    </ion-list>

    <!-- leagues list -->
    <ion-list class="leagueList">
      <ion-item menuClose *ngFor="let item of otherPages" (click)="openPage(item.component)">
        <ion-icon color="{{item.color}}" name="{{item.icon}}" item-left></ion-icon>
        <ion-label style="color: white !important;"> {{item.title}} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content [class.animateApp]="animateVarible==true" swipeBackEnabled="false"></ion-nav>