<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon class="goal-menu"></ion-icon>
    </button>
    <ion-title>Match Details</ion-title>
  </ion-navbar>
  <ion-toolbar class="matchResultBar">
    <!-- match item  -->
    <ion-item class="matchResult">
      <ion-grid>
        <ion-row>
          <!-- first team -->
          <ion-col col>
            <ion-item>
              <img src="{{match.hometeam?.imageurl}}" style="border-radius: 50px;" *ngIf="match.hometeam?.imageurl" />
              <img src="assets/imgs/appicon.png" style="border-radius: 50px;" *ngIf="!match.hometeam?.imageurl" />
              <p>{{match.hometeam?.name}}</p>
            </ion-item>
          </ion-col>
          <!-- match time -->
          <ion-col col-auto>
            <div class="result">
              <span ion-text color="color1">{{match?.hometeamscore}}</span>
              <span ion-text style="padding: 0.3em;" color="color1">-</span>
              <span ion-text color="color1">{{match?.awayteamscore}}</span>
            </div>
            <p ion-text color="light" text-center>{{match.status?.name}}</p>
          </ion-col>
          <!-- second team -->
          <ion-col col>
            <ion-item>
              <img src="{{match.awayteam?.imageurl}}" style="border-radius: 50px;" *ngIf="match.awayteam?.imageurl" />
              <img src="assets/imgs/appicon.png" style="border-radius: 50px;" *ngIf="!match.awayteam?.imageurl" />
              <p>{{match.awayteam?.name}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-center>
            <p ion-text color="secondary" style="text-align: center;">{{match.country?.name}} - {{match.league?.name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- match stats -->
  <div class="matchStats" margin-top>
 
    <ion-list>
      <!-- state with percentage -->
      <ion-item margin-top style="margin-bottom: 0.5em;">
        <ion-grid>
          <ion-row>
            <ion-col col text-center>
              <p ion-text color="dark" no-margin>Odds</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-5>
              <div class="progressBar" progress-right>
                <span class="container"></span>
              </div>
            </ion-col>
            <ion-col col-2 text-center>
              <p ion-text color="dark" no-margin>{{match.odds}}</p>
            </ion-col>
            <ion-col col-5>
              <div class="progressBar">
                <span class="container"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item style="margin-bottom: 0.5em;">
        <ion-grid>
          <ion-row>
            <ion-col col text-center>
              <p ion-text color="dark" no-margin>Prediction</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <div class="progressBar" progress-right>
                <span class="container"></span>
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <p ion-text color="dark" no-margin>{{match.selections?.name}}</p>
            </ion-col>
            <ion-col col-4>
              <div class="progressBar">
                <span class="container"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item style="margin-bottom: 0.5em;">
        <ion-grid>
          <ion-row>
            <ion-col col text-center>
              <p ion-text color="dark" no-margin>Match Time</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-5>
              <div class="progressBar" progress-right>
                <span class="container"></span>
              </div>
            </ion-col>
            <ion-col col-2 text-center>
              <p ion-text color="dark" no-margin>{{match.matchtime}}</p>
            </ion-col>
            <ion-col col-5>
              <div class="progressBar">
                <span class="container"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item style="margin-bottom: 0.5em;">
        <ion-grid>
          <ion-row>
            <ion-col col text-center>
              <p ion-text color="dark" no-margin>Match Date </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <div class="progressBar" progress-right>
                <span class="container"></span>
              </div>
            </ion-col>
            <ion-col col-4 text-center>
              <p ion-text color="dark" no-margin>{{match.matchdate}}</p>
            </ion-col>
            <ion-col col-4>
              <div class="progressBar">
                <span class="container"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>
  </div>
</ion-content>